<form action="/ventas" method="POST">
    <div class="form-group">
        <label for="products">Productos</label>
        <input type="text" id="products" name="products" class="form-control" placeholder="Producto(s)" required>
    </div>

    <div class="form-group">
        <label for="total">Total</label>
        <input type="number" id="total" name="total" class="form-control" placeholder="Total de la Venta" required>
    </div>

    <button type="submit" class="btn btn-success">Registrar Venta</button>
</form>

<div id="response" class="mt-3"></div>

<form action="/reporte-ventas" method="post">
    <button type="submit" class="btn btn-primary">Generar Reporte</button>
</form>
