<h1>Sugerencias de Usuarios</h1>

<!-- Mostrar sugerencias de usuarios -->
<div class="sugerencias">
    {{#each usuarios}}
        {{> usersCards this}} <!-- Envía el usuario completo al partial `usersCards` -->
    {{else}}
        <p>No se encontraron usuarios que coincidan con la búsqueda.</p>
    {{/each}}
</div>
{{#if successMessage}}
        <script>
            document.getElementById('successPopup').style.display = 'block';
            document.getElementById('popupMessage').textContent = '{{successMessage}}';
        </script>
    {{/if}}

    {{#if errorMessage}}
        <script>
            document.getElementById('errorPopup').style.display = 'block';
            document.getElementById('errorMessage').textContent = '{{errorMessage}}';
        </script>
    {{/if}}